@media (max-width: 1439px) {
	#masthead{
		background-size: auto 100% !important;
	}
}
@media (max-width: 1200px) {
	.project-desc{
		font: 600 23px $lato !important;
	}
}
@media (max-width: 1200px) {
	.project-image-color p{
		padding: 0 10% !important;
	}
}

